<!-- views/pages/newabout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../views/partials/head %>
</head>
<body>
<header>
    <% include ../../views/partials/header %>
</header>
<nav>
    <% include ../../views/partials/nav %>
</nav>
<main>
<h1>Hunter's Build</h1>
<h2>About</h2>
<p>This is one of the most important concept in the game. You have to know what kind of style your gameplay is. There will be classifications you want to learn as you understand yourself, the monsters, weapons, and skills.</p>
<h2>Discussions</h2>
<ul>
<li>Skills</li>
<li>Decorations</li>
<li>Armor</li>
<li>Environment</li>
<li>Upgrading</li>
<li>Augmenting</li>
<li>Melding</li>
</ul>
</main>

<footer>
    <% include ../../views/partials/footer %>
</footer>
</body>
</html>