<!-- views/pages/newabout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../views/partials/head %>
</head>
<body>
<header>
    <% include ../../views/partials/header %>
</header>
<nav>
    <% include ../../views/partials/nav %>
</nav>
<main>
<h1>Hunter's Notes</h1>
<p>You can update your notes as you start the game, of course. Did you already start the game? Lol.</p>
<h3>These are the places you can find monsters in.</h3>
<ul>
<li>Ancient Forest</li>
<li>Wildspire Waste</li>
<li>Coral Highlands</li>
<li>Rotten Vale</li>
<li>Hoarfrost Reach</li>
<li>Guiding Lands</li>
</ul>
<h3>There are types of monsters. We'll discuss it next time.</h3>
</main>

<footer>
    <% include ../../views/partials/footer %>
</footer>
</body>
</html>